<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>My Bookings | ParkEase</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>My Bookings</h2>

        <a href="/dashboard" class="btn btn-secondary">
            Back to Dashboard
        </a>

    </div>

    <table class="table table-bordered table-hover align-middle">

        <thead class="table-primary">

        <tr>

            <th>Booking ID</th>
            <th>Slot</th>
            <th>Vehicle</th>
            <th>Entry Time</th>
            <th>Exit Time</th>
            <th>Amount</th>
            <th>Status</th>

        </tr>

        </thead>

        <tbody>

        <tr th:each="booking : ${bookings}">

            <td th:text="'PK2026' + ${booking.bookingId}"></td>

            <td th:text="${booking.parkingSlot.slotNumber}"></td>

            <td th:text="${booking.parkingSlot.vehicleType}"></td>

            <td th:text="${booking.startTime}"></td>

            <td th:text="${booking.endTime != null ? booking.endTime : '-'}"></td>

            <td>
                ₹<span th:text="${booking.totalAmount}"></span>
            </td>

            <td>

                <span class="badge"
                      th:classappend="${booking.bookingStatus == 'ACTIVE'} ? 'bg-success' : 'bg-primary'"
                      th:text="${booking.bookingStatus}">
                </span>

            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>

</html>